<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/assets/css/main.css">
  $CSS_LINK
  <title>$TAB_TITLE</title>

</head>

<body>
<header>
  <nav>
    <ul>
    <a href="/">Home</a>
    <a href="/introduction">Javascript introduction </a>
    <a href="/express">Express server</a>
    <a href="/crud">CRUD</a>
    <a href="/exportAndImport">Export / Import</a>
    <a href="/serverClientSide">Server-side vs Client-side</a>
    <a href="/ssr">Server-side-rendering</a>
    <a href="/login">Login/admin</a>
      </ul>
  </nav>
</header>

<main>